{% extends 'base.html' %}

<body>
    {% block contents %}
    <h1>WHO I AM</h1>
        <br>
        Name : 고동환
        </br>
        <br>
        Birthday : 1999.03.25
        </br>
        <br>
        School : 중앙대학교
        </br>
    
    <br>
    <h1>WHAT I INTERESTED</h1>
    </br>

        <h3>INSTRUMENT</h3>
            <br>
            Drum
            </br>
            <br>
            Harmonica
            </br>
             <br>
            Violin
            </br>

        <br>
        <h3>WRITING</h3>
            <br>
            Lyrics
            </br>
            <br>
            Novel
            </br>
            <br>
            Diary
            </br>
        </br>

        <br>
        <h1>WHAT I WANT TO LEARN</h1>
        </br>
            <br>
            <h3>LANGUAUGE</h3>
            <br>
            English
            </br>
            <br>
            Chinese
            </br>
            <br>
            Spanish
            </br>
        </br>

        <br>
        <h3>ACTIVITY</h3>
            <br>
            Board
            </br>
            <br>
            Handball
            </br>
            <br>
            Fencing
            </br>
        </br>

    <footer>
        <h5><a href="https://blog.naver.com/kdh4387">blog로 이동</a></h5>
    </footer>
    {% endblock %}
</body>
